<form [formGroup]="formValue" (ngSubmit)="AddUser()" >
  <div class="container">
    <h1>Add Employee</h1>
  <label for="email"><b>first name :</b></label>
    <input type="text" placeholder="Enter first name" name="email" formControlName="fname"  required>
   
     <small *ngIf="formValue.get('fname')?.invalid && formValue.get('fname')?.touched" > first Name is required</small>
     <br>

     <label for="email">
      <b>last name</b></label>
    <input type="text" placeholder="Enter last name" name="email" formControlName="lname"  required>
    <small *ngIf="formValue.get('lname')?.invalid && formValue.get('lname')?.touched" > last Name is required</small>
<br>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email"  formControlName="Email" required>
    <small *ngIf="formValue.get('Email')?.invalid && formValue.get('Email')?.touched" > email is required</small>
<br>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" formControlName="password"   required>
    <small *ngIf="formValue.get('password')?.invalid && formValue.get('password')?.touched" > email is required</small>
    <div class="clearfix">
      <button type="submit" class="signupbtn"  >Save</button>
      <button type="submit" class="signupbtn"  (click)="btnclose()">Close</button>
    </div>
  </div>
 </form>
