<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>sign Up</h1>
    <form [formGroup]="formValue" (ngSubmit)="create()">
  <label for="email"><b>first name :</b></label>
    <input type="text" placeholder="Enter first name" name="email" formControlName="fname"  required>
    <label for="email">
      <b>last name</b></label>
    <input type="text" placeholder="Enter last name" name="email" formControlName="lname"  required>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" formControlName="Email"  required>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" formControlName="password"  required>
   
  
    
    <div class="clearfix">
      <button type="submit" class="signupbtn"  (click)="create()">Sign Up</button>
    </div>
  </form>
  </div>

</body>
</html>